wtforms
flask
pytest
python-dotenv
gunicorn
flask-sqlalchemy
Flask-Script
psycopg2
Flask-WTF
flask-login
flask-migrate
Bootstrap-Flask
Flask-JWT-Extended
Flask-RESTful
flask_bcrypt
jsonschema
flask-admin