
<h1>Listing Containers</h1>
 
<table>
  <tr>
    <th>Container</th>
    <th></th>
  </tr>
 
  <% @containers.each do |container| %>
    <tr>
      <td><%= container.name %></td>
      <td><%= link_to 'Show', container_path(container) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'New', new_container_path %></p>
<p><%= link_to 'Home', root_path %></p>