<h1> New Waste Container </h1>


<%= form_with scope: :container, url: containers_path, local: true do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>