<h2>Container:</h2>
<p>
<strong>Name:</strong>
<%= @container.name %>
</p>

<p><strong>
Materials to this container:
</strong></p>

<% @container.materials.each do |material| %>

    <p> <%= material.name %> , </p>

<%end%>

<p>
<%= link_to 'Back', controller:'containers' %>
</p>
<p>
<%= link_to 'Delete',  container_path, method: :delete, data: {confirm: 'Are ya sure?'}%>
</p>