<h2>material:</h2>
<p>
<strong>Name:</strong>
<%= @material.name %>
</p>

<p>
<strong>Cotnainer:</strong>
<%= @material.container.name %>
</p>

<p>
<%= link_to 'Back', controller:'materials' %>
</p>
<p>
<%= link_to 'Delete',  material_path, method: :delete, data: {confirm: 'Are ya sure?'}%>
</p>