<li class="list-group-item" id="{{hogyan_dobjam.id}}"> {{hogyan_dobjam.score}}
    <a role="button" class="btn btn-outline-success  btn-sm" href="{{ url_for('hogyan_dobjam_score', hull_id=adatlap.hull_id, user_id=current_user.id, comment_id= hogyan_dobjam.id, increment=1 ) }}" >^</a>
    <a role="button" class="btn btn-outline-danger btn-sm " href="{{ url_for('hogyan_dobjam_score', hull_id=adatlap.hull_id, user_id=current_user.id, comment_id= hogyan_dobjam.id, increment=-1 ) }}" >ˇ</a> - {{hogyan_dobjam.comment}}

</li>
