{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>



<h2>Hova dobjam?</h2>

{% for kuka in kuka_count_list %}
    {% include '_kuka_list.html' %}
{% endfor %}


<div class="card" style="width: 18rem;">
 <!-- <img src="https://imgur.com/SgRP6AC" class="card-img-top" alt="...">-->
  <div class="card-body">
    <h5 class="card-title">Adatlap</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{adatlap.name}}</h6>
    <p class="card-text">Még így ismerheted: {% for i in aliases %}, {{i}}{% endfor %}</p>
      <p class="card-text">Verzió: {{adatlap.version}} , ID:{{adatlap.hull_id}} </p>
      <p class="card-text">Leírás: {{adatlap.description}} </p>
  </div>
</div>
{% endblock %}