{% extends "base.html" %}

{% block app_content %}

    <h2>Keresés</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.hullinfo_alias.label }}{{ form.hullinfo_alias(size=50) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>



<h2>Hova dobjam?</h2>

{% for kuka in kuka_count_list %}
    {% include '_kuka_list.html' %}
{% endfor %}

<h2>Adatlap</h2>
<h3>Nevek:</h3> {{adatlap.name}} {% for i in aliases %}, {{i}}{% endfor %}
<h3>hull_id:</h3> {{adatlap.hull_id}}
<h3>Verzió:</h3> {{adatlap.version}}
<h3>leírás:</h3> {{adatlap.description}}


{% endblock %}