{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <h1>Hello there!</h1>
A Hova Dobjam oldal abban próbál segítségedre lenni hogy eldönthesd az egyes szemeteidről hogy hová is kéne dobni. <br>
Keress rá egy szemétre és láthatod hogy mások előtted hova dobták (látni fogod a kukákat és egy számot mellette)<br>
Kattints rá a kukára amibe kidobtad a szemetet és máris te is hozzátettél az adatbázishoz :)
<br>
Az oldal még a fejlesztési fázis elején van.

<a href= "https://github.com/klucsik/hovadobjam">projekt oldala és forrása itt</a>

     {% if form %}
    <h2>Keresés</h2>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
 {% endif %}

    {% for hull_info in hull_list %}
        {% include '_hull_list.html' %}
    {% endfor %}

{% endblock %}